@model List<FormatResult.Models.SubjectFullDetailsViewModel>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-header bg-primary text-white">
        <h4>✨Subject Wise Full Analysis</h4>
    </div>
    <div class="card-body">

        <div class="container mt-4">
            @foreach (var subjectDetail in Model)
            {
                @* <h2 class="mb-2">Subject Summary: @subjectDetail.SubjectName (@subjectDetail.SubjectCode)</h2> *@
                <h4 class="mb-2 p-2 rounded bg-dark text-white">
                    Subject Summary: @subjectDetail.SubjectName (@subjectDetail.SubjectCode)
                </h4>
                <hr />

                <h4>Performance Distribution:@subjectDetail.SubjectName</h4>
                @* This is calculating for all students not for students of single subject *@

                <div class="row">
                    <div class="row mb-2">
                        <div class="col-md-3"><strong>95 - 99</strong>: @subjectDetail.Above95.Count</div>
                        <div class="col-md-3"><strong>90 - 95</strong>: @subjectDetail.Between90to95.Count</div>
                        <div class="col-md-3"><strong>80 - 90</strong>: @subjectDetail.Between80n90.Count</div>
                        <div class="col-md-3"><strong>70 - 80</strong>: @subjectDetail.Between70n80.Count</div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"><strong>60 - 70</strong>: @subjectDetail.Between60n70.Count</div>
                        <div class="col-md-3"><strong>50 - 60</strong>: @subjectDetail.Between50n60.Count</div>
                        <div class="col-md-3"><strong>33 - 50</strong>: @subjectDetail.Between33n50.Count</div>
                    </div>
                </div>
                
                    <div class="col-md-12 mt-3">
                        <button class="btn btn-info text-dark w-100 text-start" data-bs-toggle="collapse" data-bs-target="#collapseFullMarks">
                            <strong>Full marks in: @subjectDetail.SubjectName</strong>&nbsp;&nbsp;:Count: @subjectDetail.FullMarks.Count <strong>&nbsp;Click Me</strong>
                        </button>
                    </div>
                    <div id="collapseFullMarks" class="collapse mt-2">
                        @if (subjectDetail.FullMarks.Count > 0)
                        {
                            <table class="table table-bordered table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Roll Number</th>
                                        <th>Name</th>
                                        <th>Marks</th>
                                        <th>Grade</th>
                                        <th>Percentage</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var student in subjectDetail.FullMarks)
                                    {
                                        var sub = student.Subjects.FirstOrDefault(x => x.Key.Equals(subjectDetail.SubjectCode));
                                        <tr>
                                            <td>@student.RollNumber</td>
                                            <td>@student.Name</td>
                                            <td>@sub.Value.Marks</td>
                                            <td>@sub.Value.Grade</td>
                                            <td></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div>No students scored in this range.</div>
                        }
                    </div>
               

                <div class="col-md-12 mt-3">
                    <button class="btn btn-info text-dark w-100 text-start" data-bs-toggle="collapse" data-bs-target="#collapseAbove95">
                        <strong>@subjectDetail.SubjectName: From 95 to 99</strong>&nbsp;&nbsp;:Count: @subjectDetail.Above95.Count <strong>&nbsp;Click Me</strong>
                    </button>
                </div>
                <div id="collapseAbove95" class="collapse mt-2">
                    @if (subjectDetail.Above95.Count > 0)
                    {
                        <table class="table table-bordered table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Roll Number</th>
                                    <th>Name</th>
                                    <th>Marks</th>
                                    <th>Grade</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var student in subjectDetail.Above95)
                                {
                                    var sub = student.Subjects.FirstOrDefault(x => x.Key.Equals(subjectDetail.SubjectCode));
                                    <tr>
                                        <td>@student.RollNumber</td>
                                        <td>@student.Name</td>
                                        <td>@sub.Value.Marks</td>
                                        <td>@sub.Value.Grade</td>
                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div>No students scored in this range.</div>
                    }
                </div>



                <div class="col-md-12 mt-3">
                    <button class="btn btn-info text-dark w-100 text-start" data-bs-toggle="collapse" data-bs-target="#collapseBetween90to95">
                        <strong>@subjectDetail.SubjectName: 91 to 94</strong>&nbsp;&nbsp;:Count: @subjectDetail.Between90to95.Count <strong>&nbsp;Click Me</strong>
                    </button>
                </div>
                <div id="collapseBetween90to95" class="collapse mt-2">
                    @if (subjectDetail.Above95.Count > 0)
                    {
                        <table class="table table-bordered table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Roll Number</th>
                                    <th>Name</th>
                                    <th>Marks</th>
                                    <th>Grade</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var student in subjectDetail.Between90to95)
                                {
                                    var sub = student.Subjects.FirstOrDefault(x => x.Key.Equals(subjectDetail.SubjectCode));
                                    <tr>
                                        <td>@student.RollNumber</td>
                                        <td>@student.Name</td>
                                        <td>@sub.Value.Marks</td>
                                        <td>@sub.Value.Grade</td>
                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div>No students scored in this range.</div>
                    }
                </div>


                <div class="col-md-12 mt-3">
                    <button class="btn btn-info text-dark w-100 text-start" data-bs-toggle="collapse" data-bs-target="#collapseBetween80n90">
                        <strong>@subjectDetail.SubjectName: 81 to 90</strong>&nbsp;&nbsp;:Count: @subjectDetail.Between80n90.Count <strong>&nbsp;Click Me</strong>
                    </button>
                </div>
                <div id="collapseBetween80n90" class="collapse mt-2">
                    @if (subjectDetail.Between80n90.Count > 0)
                    {
                        <table class="table table-bordered table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Roll Number</th>
                                    <th>Name</th>
                                    <th>Marks</th>
                                    <th>Grade</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var student in subjectDetail.Between80n90)
                                {
                                    var sub = student.Subjects.FirstOrDefault(x => x.Key.Equals(subjectDetail.SubjectCode));
                                    <tr>
                                        <td>@student.RollNumber</td>
                                        <td>@student.Name</td>
                                        <td>@sub.Value.Marks</td>
                                        <td>@sub.Value.Grade</td>
                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div>No students scored in this range.</div>
                    }
                </div>


                <div class="col-md-12 mt-3">
                    <button class="btn btn-info text-dark w-100 text-start" data-bs-toggle="collapse" data-bs-target="#collapseBetween70n80">
                        <strong>@subjectDetail.SubjectName: 71 to 80</strong>&nbsp;&nbsp;:Count: @subjectDetail.Between70n80.Count <strong>&nbsp;Click Me</strong>
                    </button>
                </div>
                <div id="collapseBetween70n80" class="collapse mt-2">
                    @if (subjectDetail.Between70n80.Count > 0)
                    {
                        <table class="table table-bordered table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Roll Number</th>
                                    <th>Name</th>
                                    <th>Marks</th>
                                    <th>Grade</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var student in subjectDetail.Between70n80)
                                {
                                    var sub = student.Subjects.FirstOrDefault(x => x.Key.Equals(subjectDetail.SubjectCode));
                                    <tr>
                                        <td>@student.RollNumber</td>
                                        <td>@student.Name</td>
                                        <td>@sub.Value.Marks</td>
                                        <td>@sub.Value.Grade</td>
                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div>No students scored in this range.</div>
                    }
                </div>


                <div class="col-md-12 mt-3">
                    <button class="btn btn-info text-dark w-100 text-start" data-bs-toggle="collapse" data-bs-target="#collapseBetween60n70">
                        <strong>@subjectDetail.SubjectName: 61 to 70</strong>&nbsp;&nbsp;:Count: @subjectDetail.Between60n70.Count <strong>&nbsp;Click Me</strong>
                    </button>
                </div>
                <div id="collapseBetween60n70" class="collapse mt-2">
                    @if (subjectDetail.Between60n70.Count > 0)
                    {
                        <table class="table table-bordered table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Roll Number</th>
                                    <th>Name</th>
                                    <th>Marks</th>
                                    <th>Grade</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var student in subjectDetail.Between60n70)
                                {
                                    var sub = student.Subjects.FirstOrDefault(x => x.Key.Equals(subjectDetail.SubjectCode));
                                    <tr>
                                        <td>@student.RollNumber</td>
                                        <td>@student.Name</td>
                                        <td>@sub.Value.Marks</td>
                                        <td>@sub.Value.Grade</td>
                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div>No students scored in this range.</div>
                    }
                </div>


                <div class="col-md-12 mt-3">
                    <button class="btn btn-info text-dark w-100 text-start" data-bs-toggle="collapse" data-bs-target="#collapseBetween50n60">
                        <strong>@subjectDetail.SubjectName: 51 to 60</strong>&nbsp;&nbsp;:Count: @subjectDetail.Between50n60.Count <strong>&nbsp;Click Me</strong>
                    </button>
                </div>
                <div id="collapseBetween50n60" class="collapse mt-2">
                    @if (subjectDetail.Between50n60.Count > 0)
                    {
                        <table class="table table-bordered table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Roll Number</th>
                                    <th>Name</th>
                                    <th>Marks</th>
                                    <th>Grade</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var student in subjectDetail.Between50n60)
                                {
                                    var sub = student.Subjects.FirstOrDefault(x => x.Key.Equals(subjectDetail.SubjectCode));
                                    <tr>
                                        <td>@student.RollNumber</td>
                                        <td>@student.Name</td>
                                        <td>@sub.Value.Marks</td>
                                        <td>@sub.Value.Grade</td>
                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div>No students scored in this range.</div>
                    }
                </div>

                <div class="col-md-12 mt-3">
                    <button class="btn btn-info text-dark w-100 text-start" data-bs-toggle="collapse" data-bs-target="#collapseBetween33n50">
                        <strong>@subjectDetail.SubjectName: 33 to 50</strong>&nbsp;&nbsp;:Count: @subjectDetail.Between33n50.Count <strong>&nbsp;Click Me</strong>
                    </button>
                </div>
                <div id="collapseBetween33n50" class="collapse mt-2">
                    @if (subjectDetail.Between33n50.Count > 0)
                    {
                        <table class="table table-bordered table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Roll Number</th>
                                    <th>Name</th>
                                    <th>Marks</th>
                                    <th>Grade</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var student in subjectDetail.Between33n50)
                                {
                                    var sub = student.Subjects.FirstOrDefault(x => x.Key.Equals(subjectDetail.SubjectCode));
                                    <tr>
                                        <td>@student.RollNumber</td>
                                        <td>@student.Name</td>
                                        <td>@sub.Value.Marks</td>
                                        <td>@sub.Value.Grade</td>
                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div>No students scored in this range.</div>
                    }
                </div>


                <div class="col-md-12 mt-3">
                    <button class="btn btn-info text-dark w-100 text-start" data-bs-toggle="collapse" data-bs-target="#collapseCompartment">
                        <strong>@subjectDetail.SubjectName: Compartment</strong>&nbsp;&nbsp;:Count: @subjectDetail.Compartment.Count <strong>&nbsp;Click Me</strong>
                    </button>
                </div>
                <div id="collapseCompartment" class="collapse mt-2">
                    @if (subjectDetail.Compartment.Count > 0)
                    {
                        <table class="table table-bordered table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Roll Number</th>
                                    <th>Name</th>
                                    <th>Marks</th>
                                    <th>Grade</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var student in subjectDetail.Compartment)
                                {
                                    var sub = student.Subjects.FirstOrDefault(x => x.Key.Equals(subjectDetail.SubjectCode));
                                    <tr>
                                        <td>@student.RollNumber</td>
                                        <td>@student.Name</td>
                                        <td>@sub.Value.Marks</td>
                                        <td>@sub.Value.Grade</td>
                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div>No students scored in this range.</div>
                    }
                </div>


                <div class="col-md-12 mt-3">
                    <button class="btn btn-info text-dark w-100 text-start" data-bs-toggle="collapse" data-bs-target="#collapseFail">
                        <strong>@subjectDetail.SubjectName: FAIL</strong>&nbsp;&nbsp;:Count: @subjectDetail.Fail.Count <strong>&nbsp;Click Me</strong>
                    </button>
                </div>
                <div id="collapseFail" class="collapse mt-2">
                    @if (subjectDetail.Fail.Count > 0)
                    {
                        <table class="table table-bordered table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Roll Number</th>
                                    <th>Name</th>
                                    <th>Marks</th>
                                    <th>Grade</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var student in subjectDetail.Fail)
                                {
                                    var sub = student.Subjects.FirstOrDefault(x => x.Key.Equals(subjectDetail.SubjectCode));
                                    <tr>
                                        <td>@student.RollNumber</td>
                                        <td>@student.Name</td>
                                        <td>@sub.Value.Marks</td>
                                        <td>@sub.Value.Grade</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div>No students scored in this range.</div>
                    }
                </div>


                <br />

            }@* //Outermost for *@

        </div>

    </div>@* //end card body div *@

</div>@* //end outermost Div *@





