@model FormatModals.FileUploadViewModel
@{
    ViewData["Title"] = "Upload Successful";
}

<div class="container mt-1">
    <div class="card shadow-lg p-1">
        <h7> <b>Scroll Down The Page To See Full Content!</b></h7>
        <p >File Name: <strong>@Model.FileName</strong></p>
        <p >School Name: <strong>@Model.SchoolResult.SchoolName</strong></p>
        <p >Total Number of Students Enrolled: <strong>@Model.SchoolResult.Students.Count</strong></p>
    </div>
</div>

<!-- Bootstrap Nav Tabs -->
<div class="container mt-1">
    <ul class="nav nav-tabs" id="resultTabs">
        <li class="nav-item">
            <a class="nav-link active" id="tabOverall" data-url="@Url.Action("GetOverallSummary", "FileUpload")" href="#">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tabToppers" data-url="@Url.Action("GetTopPerformersPercentWise", "FileUpload")" href="#">TopPerformers</a>
        </li>
        <li class="nav-item">
@*             <a class="nav-link" id="tabPercent" data-url="@Url.Action("GetPercent", "FileUpload")" href="#">PercentageOfAllStudents</a>
 *@            <a class="nav-link" id="tabPercent" data-url="@Url.Action("GetAllStudentsPercent", "FileUpload")" href="#">PercentageOfAllStudents</a>

        </li>
        <li class="nav-item">
            <a class="nav-link" id="tabSubjectWiseTopper" data-url="@Url.Action("GetSubjectWiseTopper", "FileUpload")" href="#">SubjectWisetoppers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tabFullMarks" data-url="@Url.Action("GetFullMarks", "FileUpload")" href="#">100Marks </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tabSubjectWiseDetails" data-url="@Url.Action("GetSubjectFullDetails", "FileUpload")" href="#">SubjectWiseDetails</a>
        </li>

    </ul>
</div>

<!-- Result View -->
<div class="container mt-4">
    <div id="resultview" class="p-3 border"></div>
</div>

<!-- jQuery & Bootstrap -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Function to load data when a tab is clicked
        function loadTabData(url) {
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    $("#resultview").html(data);
                },
                error: function () {
                    $("#resultview").html('<p class="text-danger">Error loading data.</p>');
                }
            });
        }

        // Handle tab click event
        $(".nav-link").click(function (e) {
            e.preventDefault(); // Prevent default link behavior

            $(".nav-link").removeClass("active"); // Remove active class from all tabs
            $(this).addClass("active"); // Add active class to clicked tab

            var url = $(this).data("url"); // Get URL from data attribute
            loadTabData(url);
        });

        // Load the first tab data by default
        loadTabData($("#tabOverall").data("url"));
    });
</script>
